@page
@model PS03.Pages.InfoModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="utf-8" />
    <title></title>
</head>
<body>
    <h1>What is BMI?</h1>
    Body Mass Index (BMI) is a person’s weight in kilograms (or pounds) divided by the square of height in meters (or feet). 
    A high BMI can indicate high body fatness. BMI screens for weight categories that may lead to health problems, 
    but it does not diagnose the body fatness or health of an individual.


</body>
</html>